<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css">
    <title></title>
  </head>
  <body>
    <h1>hi welcome to my site</h1>
    <form action="{{ url_for('search') }}" method="get">
      <input type="text" name="bookinput" placeholder="Enter book name" required />
      <button type="submit">Search</button>
    </form>
    <a href="{{ url_for('show_list') }}">View My Reading List</a>
    <a href="{{ url_for('logout') }}">
      <button>Log out</button>
    </a>

  </body>
</html>
