<!DOCTYPE html>
<html>
<head>
    <title>My Reading List</title>
</head>
<body>

    <h1>Plan to Read</h1>
    {% if planned_books %}
        <ul>
            {% for book in planned_books %}
                <li>
                    {{ book[1] }} by {{ book[2] }} ({{ book[3] }})
                    <form action="/delete" method="post" style="display:inline;">
                        <input type="hidden" name="cover_id" value="{{ book[4] }}">
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books planned to read.</p>
    {% endif %}

    <h1> Reading</h1>
    {% if reading_books %}
        <ul>
            {% for book in reading_books %}
                <li>
                    {{ book[1] }} by {{ book[2] }} ({{ book[3] }})
                    <form action="/delete" method="post" style="display:inline;">
                        <input type="hidden" name="cover_id" value="{{ book[4] }}">
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books currently reading.</p>
    {% endif %}

    <h1>Completed</h1>
    {% if completed_books %}
        <ul>
            {% for book in completed_books %}
                <li>
                    {{ book[1] }} by {{ book[2] }} ({{ book[3] }})
                    <form action="/delete" method="post" style="display:inline;">
                        <input type="hidden" name="cover_id" value="{{ book[4] }}">
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No completed books.</p>
    {% endif %}

    <br>
    <a href="/">Back To Lobby</a>

</body>
</html>
